

.main{
    background-color: #efecec8a;
    min-height: 100vh;
    .main_wrapper {
        padding: 10px;
        margin: 10px auto;
    }
    .mrTB10{
        margin: 10px 0;
    }
    .text_center{
        text-align: center;
    }
}